<html>
    <head>
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta http-equiv="Expires" content="0"/>

        <title> Hi! Mybrary </title>


        <!-- 옳은 접근 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="shortcut icon" href="~/favicon.ico">
        <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">



    </head>

    <body>
        <div class="container">
            <div class="navigator"> 
                <button id="add-button" onclick="popup()"> ADD Library </button>
            </div>

            <div class="title">
                <p> Mybrary </p>
            </div>

            <div class="btn-group search_input">
                <input  id="search_input" placeholder="search"/>
            </div>


           <div class="card-columns libraries"  id="cards-box">

           </div>
        </div>

        </div>

        <!-- 라이브러리 add modal창 구현 -->
        <div id="addLibModal" class="modal">
 
            <!-- Modal content -->
            <div class="modal-content">
                <div class="close">
                    <span class="closeBtn" onclick="popup_close()"> &times;</span>
                </div>
               
                <div class="wrapper">
                    <div class="popup_title">
                        <h2>ADD IT</h2>
                    </div>
                    <div class="popup-content">
                        <div >
                            URL: <input id="url-input"/>
                        </div>
                        <div>
                            TAG: <input id="tag-input" placeholder="#android #iOS #이미지관리"/>
                        </div>
                        <div>
                            MEMO: <textarea id="memo-input"></textarea>
                        </div>
                    </div>
                    <div class="footer">
                        <button id="popup-add-btn" onclick="add_card()">ADD</button>
                    </div>
                </div>
            
            </div>
       
          </div>

        <!-- 상세뷰modal창 구현 -->
        <div id="libDetailModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="close">
                    <span class="closeBtn" onclick="detail_popup_close()"> &times;</span>
                </div>

                <div class="wrapper">
                    <div class="popup_title">
                        <h2 id="detail_title">Library</h2>
                    </div>
                    <div class="popup-content">
                        <div>
                            URL: <a href="#" id="url-label"></a>
                        </div>
                        <div>
                            TAG: <label id="tag-label"/>
                        </div>
                        <div>
                            MEMO: <label id="memo-label"/>
                        </div>
                    </div>
                </div>

            </div>

          </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
        <script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       <script src="{{ url_for('static', filename='main.js') }}" > </script>

    </body>

</html>